/* CSS rules for buttons */
.button-blue {
  @apply bg-sky-600 text-white px-4 py-2 rounded-lg hover:bg-blue-300;
}
.button-close {
  @apply bg-slate-500 text-white px-4 py-2 rounded-lg hover:bg-slate-300;
}
.button-delete {
  @apply bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-300;
}
.logo-button {
  @apply hover:bg-blue-300 rounded-lg;
}
.button-green {
  @apply bg-green-600 text-white px-4 py-2 rounded-lg;
}
.filter-button {
  background-color: white;
  border: 1px solid #7c7e80;
  border-radius: 12px;
  color: #7c7e80;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.filter-button.active {
  @apply bg-sky-600 text-white;
}
